<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Меню <i class="fa fa-bars"></i>
                </button>
            <a class="navbar-brand" routerLink="">Effect</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a routerLink=""></a>
                </li>
                <li class="page-scroll">
                    <a routerLink="/suppliers">Поставщики</a>
                </li>
                <li class="page-scroll">
                    <a routerLink="/goods">Товары</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container" style="padding-top:4em">
    <router-outlet></router-outlet>
</div>